/*
  For EXTRA SMALL SCREEN SIZE
*/
.navbar-brand img{
  height: 29px;
}

.navbar-color {
  background: white;
}

.navbar {
  margin-bottom: 0px;
}
/*
  For SMALL SCREEN SIZE
*/
@media (min-width: @screen-sm-min) {

}

/*
  For MEDIUM SCREEN SIZE
*/
@media (min-width: @screen-md-min) {

}

/*
  For LARGE SCREEN SIZE
*/
@media (min-width: @screen-lg-min) {

}

